/*+++ for globle +++*/


/* END */


/* Every pages style */

header {
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7));
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
    height: 100px;
}

ul {
    list-style-type: none;
    float: right;
    margin-top: 25px;
    margin-left: 10px;
    position: absolute;
    border-radius: 5%;
    padding: 10px 10px 10px 10px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.7s ease;
}

ul li a:hover {
    background-color: rgb(67, 125, 177);
    color: #fff;
}

@media screen and (max-width:412px) {
    body {
        position: absolute;
        width: 412px;
        height: 883px;
    }
    ul {
        padding: 5px 5px 5px 5px;
    }
    .position {
        height: 80%;
        position: absolute;
        top: 30%;
        display: flex;
        flex-direction: column;
    }
    header {
        background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7));
        height: 113px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 760px;
        overflow: auto;
    }
    footer {
        position: absolute;
        top: 500%;
    }
    #word {
        font-style: italic;
        width: 500px;
    }
    /*coding*/
    #cards {
        flex-direction: column;
        top: 5%;
    }
    /*about me*/
    table {
        width: 360px;
    }
    #Experience {
        margin-top: 34px;
    }
}


/* End */

#copyright {
    text-justify: distribute;
    text-align: center;
}


/* index div section */

.position {
    background-color: aliceblue;
    display: flex;
    position: absolute;
    top: 30%;
    padding: 50px 10px 50px 10px;
}

#text {
    color: #000;
    padding: 0%;
    margin-left: 50px;
    margin-right: 170px;
}

#word {
    font-size: large;
    font-style: italic;
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 20px;
    transition: 0.6s ease;
}

#image {
    margin-right: 80px;
    border-radius: 5px;
    transition: 0.6s ease;
}

#image:hover {
    transform: scale(1.1);
}


/* Coding page */

#cards {
    position: absolute;
    display: inline-flex;
    top: 30%;
}

#card {
    margin: 10px 10px 10px 10px;
    top: 10%;
}


/*#coding {
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7));
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
*/

.li {
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
}

.active {
    background-color: rgb(67, 125, 177);
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.7s ease;
}

#aboutme {
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url("../ffolio_images/foraboutme.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#styleforli {
    position: absolute;
    list-style-type: none;
    float: right;
    margin-top: 25px;
}

#codingdiv {
    position: absolute;
    top: 50%;
    display: flex;
    color: #fff;
    margin: 0px 10px 0px 10px;
    transition: 0.6s ease;
}

.stylediv {
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.6s ease;
    border-radius: 20px;
    padding: 5px;
}

.stylediv:hover {
    background-color: rgb(104, 104, 36);
    transform: scale(1.1);
    border-radius: 20px;
}

#photoaboutme {
    height: 50vh;
    width: 30vh;
}

#table {
    position: absolute;
    top: 15%;
    margin: 0px 5px 0px 5px;
    transition: 00.6s ease;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

table,
th,
td {
    border: 1px solid rgb(223, 171, 171);
}

#Experience {
    position: absolute;
    top: 40%;
    margin: 0px 5px 0px 5px;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    overflow-y: hidden;
    overflow-x: hidden;
}

#contact {
    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url("../portfolio_images/forcontact.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#commentd_div {
    position: absolute;
    top: 70%;
    left: 30%;
    color: #fff;
}

.for_name_div {
    padding: 5px 7px 5px 7px;
    margin: 10px 20px 10px 20px;
}

.set {
    position: absolute;
    width: 60px;
    height: 80px;
    top: 30%;
    margin-left: 100px;
    padding: 10px;
}


/*++++ Footer ++++*/

footer {
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7));
    background-color: rgb(26, 26, 221);
    top: 92%;
    position: absolute;
    padding: 5px 45% 5px 45%;
}


/* Contact */

#contact {
    top: 20%;
    width: 100vh;
    height: 50vh;
    position: absolute;
    left: 25%;
    background-color: tomato;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ineercontact {
    border-radius: 10px;
    display: flex;
    width: 98%;
    height: 80%;
    margin: 10px 5px 10px 7px;
    position: absolute;
    background-color: #fff;
}

label {
    padding: 50px 50px 50px 50px;
    margin: 10px 10px 10px 10px;
}

#get {
    height: 20%;
}

#name {
    width: 150px;
    height: 50px;
}

#btn {
    bottom: 5px;
    top: 90%;
    width: 80px;
    height: 60px;
    position: absolute;
    left: 40%;
}

button {
    width: 70px;
    height: 35px;
    cursor: pointer;
    bottom: 5px;
}

.media {
    position: absolute;
    top: 70%;
    display: inline-flex;
    margin-left: 100px;
}

.icon {
    height: 30px;
    width: 15px;
    margin: 20px;
    padding: 10px;
}

#insta {
    margin-left: 100px;
    transition: 0.6s ease;
}

#linkedin {
    margin-left: 200px;
    transition: 0.6s ease;
}

#facebook {
    margin-left: 300px;
    transition: 0.6s ease;
}

#github {
    margin-left: 400px;
    transition: 0.6s ease;
}

#gmail {
    margin-left: 500px;
    transition: 0.6s ease;
}

#insta:hover {
    transform: scale(1.2);
}

#linkedin:hover {
    transform: scale(1.2);
}

#facebook:hover {
    transform: scale(1.2);
}

#github:hover {
    transform: scale(1.2);
}

#gmail:hover {
    transform: scale(1.2);
}

.media {
    display: inline-flex;
    margin-left: 100px;
}